@font-face {
  font-family: 'Haksen';
  src: url('../assets/fonts/HAKSEN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
    background-color: rgb(243, 219, 135);
}
.navlog{
    background-color: beige;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  margin: 10px;
  padding: 0 10px;
}
.logo{
    font-family: 'Haksen',sans-serif;
    font-weight: bolder;
    color: rgb(22, 22, 22);
    font-size: 30px;
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    backdrop-filter: blur(20px); /* frosted glass blur */
    width: 400px;
    height: 250px;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: center; 
}

.input {
    margin-bottom: 18px;
    display: flex;
    justify-content: center; 
}

.input input {
    width: 100%;
    padding: 12px 14px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: rgb(19, 19, 19);
    font-size: 16px;
    outline: none;
    transition: background 0.3s ease;
}

.input input::placeholder {
    color: rgba(22, 22, 22, 0.75);
    font-family: 'Haksen' ,sans-serif;
}

.input input:focus {
    background:   rgb(243, 219, 135)
}

.inputbutton {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.inputbutton button {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: rgb(243, 219, 135);
    color: rgb(21, 21, 21);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
    transition: background 0.3s, transform 0.2s;
    font-family: 'Haksen' ,sans-serif;
  
    
}

.inputbutton button:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.03);
}